@charset "UTF-8";
.site-nav__link, .header-contacts__link, .logo, .social-list__link, .client-card__link, .footer-contacts__info, .join-list__link, .project-card__link {
  text-decoration: none;
}

.site-nav, .header-contacts, .advantage-list, .service-list, .team-cards, .social-list, .clients-list, .join-list, .filter, .project-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages, .services, .team, .clients, .projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* Header contacts */
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover .header-contacts__link,
.header-contacts__item:hover .header-contacts__link {
  color: #2196f3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
}

.header-contacts__item:hover .header-contacts__icon,
.header-contacts__item:hover .header-contacts__icon {
  fill: #2196f3;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--accent {
  color: #2196f3;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herobg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  background-size: contain;
  background-position: center;
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.advantages__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage-list__item {
  width: calc((100%-90px) / 4);
}

.advantage-list__item:not(:last-child) {
  margin-right: 30px;
}

.advantage-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-list__descr {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-list__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.services {
  padding-top: 0;
}

.services__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list__item {
  position: relative;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__img {
  display: block;
}

.service-list__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 83px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-member {
  width: calc((100%-90px) / 4);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__img {
  display: block;
}

.team-member__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member__position {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-card + .client-card {
  margin-left: 30px;
}

.client-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-card__link:hover, .client-card__link:focus {
  border-color: #2196f3;
}

.client-card__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-card__link:hover .client-card__icon,
.client-card__link:focus .client-card__icon {
  fill: #2196f3;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: inherit;
  margin-bottom: 9px;
}

.footer-contacts__info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.footer-contacts__info + .footer-contacts__info {
  margin-top: 9px;
}

.footer-contacts__info:hover,
.footer-contacts__info:focus {
  color: #2196f3;
}

/* Join us */
.join-us {
  margin-left: 70px;
}

.join-us__action {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-list__item + .join-list__item {
  margin-left: 10px;
}

.join-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover,
.join-list__link:focus {
  background-color: #2196f3;
}

.join-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* Subscribe */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.subscribe__action {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form__input:focus {
  outline: none;
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.16;
}

.subscribe-form__button::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  z-index: 3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.modal-form__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.form-field {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: #757575;
}

.form-field__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-field__input {
  display: block;
  height: 40px;
  width: 448px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus,
.form-field__input.comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-field__input--comment {
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.terms__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.terms__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.terms__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms__checkbox:checked + .terms__label .terms__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
}

.terms__link {
  color: #2196f3;
  margin-left: 5px;
}

.form-submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.projects__hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover, .project-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__pic {
  position: relative;
  overflow: hidden;
}

.project-card__img {
  display: block;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover .project-card__overlay,
.project-card__link:focus .project-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__border {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-card__descr {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */