.advantages {
  @extend %section;
}

.advantages__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.advantage-list {
  display: flex;
  @extend %list;
}

.advantage-list__item {
  width: calc((100%-90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.advantage-list__descr {
  margin: 0;
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-list__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: $filter-color;
}
